.console-div{
    border-style:ridge;
    padding-right:0;
    padding-left:0;
    height: 15vh;
}

.console-title{
    background-color:black;
    padding-left:inherit;
    padding-right:inherit;
    min-width: 200px;
}

.console-content{
    background-color:white;
}

.console-title-button2{
    background-color:transparent;
    width: auto !important;
}

.console-title-button1{
    background-color:transparent;
    width: 15vh;
}

.title-text{
    color: white !important;
    font-size: 17px !important;
}

.title-icon{
    font-size: 15px;
    color: white;
}

.console-button-div{
    bottom: 15px;
    background-color: transparent;
}

.fa-caret-span{
    font-size: 30px;
    color:white;
}

